/*//////////*/
/*NavBar //*/
/*////////*/

.body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

.spirax-regular {
    font-family: "Spirax", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    color: #141572;  
}
  

/* NavBar */

.navbar-brand {
    padding-left: 20px;
}

.nav-link {
    font-weight: 600;
    font-size: 20px;
    color: #2F374F; 
    margin-right: 20px;
}

.nav-link-last {
    margin-right: 45px;
}

.logo-img {
    width: 130px;
    height: auto;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px;
}

.navbar-nav .nav-link {
    color: #2F374F;
}

.navbar-nav .nav-link:hover {
    color: #243f8b;
}

.navbar-custom {
    padding-right: 20px;
    font-weight: 700;
}

.nav-item-job a {
    color: #2F374F;
}

@media (max-width: 991px) {
    
    .navbar-custom {
        padding-left: 18px;
    }

    .nav-link-last {
        margin-left: 61px !important; 
    }

    .nav-link {
        margin-left: 33px;
    }

    .nav-link-first {
        margin-left: 34px;
    }

    .nav-link-second {
        margin-right: 15px;
    }
    
}

.dropdown-menu {
    background-color: #fff;
    padding: 20px;
    border-top: 10px;
    border-top: 7px solid #E3C16D;
}

.dropdown-item {
    color: #2F374F;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-item:hover {
    background-color: #fff;
    color: #243f8b;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

@media (max-width: 974px) {

    .dropdown:hover>.dropdown-menu {
        display: none;
      }
    
    .dropdown>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        pointer-events: all;
    }
    
    .dropdown-menu {
        text-align: center;
    }

}

/*//////////*/
/* First Section //*/
/*////////*/

.first-about-us-section {
    padding-top: 200px;
}

.first-about-us-section h1 {
    font-size: 60px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.first-about-us-section p {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-item {
    max-width: 100%;
    height: 500px;
    background-position: center;
}

/*//////////*/
/* Second Section //*/
/*////////*/

.second-about-us-section {
    padding-top: 200px;
}

.mission-section-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mission-section-custom h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

.bla-bla {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Contact-Candidate Section */

.contact-candidacy-custom-section {
    padding-top: 120px;
    padding-bottom: 150px;
}

.contact-candidacy-image-custom {
    text-align: start;
}

.contact-candidacy-image-custom img {
    max-width: 70%;
    height: auto;
}

.contact-candidacy-choice-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
}

.contact-candidacy-choice-custom h2 {
    color: #2F374F;     
    font-weight: 900;
    font-size: 35px;
    padding-bottom: 5px;
}

.contact-candidacy-choice-custom p {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
}

.contact-candidacy-inner-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-candidacy-inner-custom p {
    font-size: 17px;
}

.contact-candidacy-inner-custom i {
    padding-bottom: 30px;
    padding-top: 30px;
}

.contact-candidacy-inner-custom button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px 11px 13px 11px;
    border-color:#2F374F;
    border-style: solid;
    color: white;
    background-color: #2F374F;
    font-weight: 600;
    font-size: 20px;
}

.contact-candidacy-inner-custom button:hover {
    color: #2F374F;
    background-color: white;
    border-style: solid;
    border-color: black;
}

@media (max-width:768px) {
    .contact-candidacy-choice-custom {
        margin-top: 70px;
    }
    .contact-candidacy-image-custom {
        text-align: center;
    }
    .contact-candidacy-image-custom img {
        width: 350px;
    }
    .contact-candidacy-inner-custom button {
        margin-bottom: 15px;
    }
}





/* Contact Section */

.contact-custom-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2F374F;
    padding-top: 50px;
}

.contact-container {
    color: white;
}

.contact-container h2 {
    color:#E3C16D;
    font-weight: 900;
    font-size: 35px;
}

.contact-container p {
    font-weight: 600;
    font-size: 17px;
    padding: 15px;
}

.contact-container a {
    text-decoration: none;
}

.contact-custom-socials {
    position: relative;
    right: 0;
    bottom: 0;
    padding-right: 25px;
    padding-bottom: 20px;
}

.contact-container-h2 {
    padding-top: 15px;
}

.contact-custom-socials ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-custom-socials ul li {
    margin-left: 10px;
}

.contact-custom-socials ul li a {
    text-decoration: none;
    color: inherit;
}