.body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

/* NavBar */

.navbar-brand {
    padding-left: 20px;
}

.nav-link {
    font-weight: 600;
    font-size: 20px;
    color: #2F374F; 
    margin-right: 20px;
}

.nav-link-last {
    margin-right: 45px;
}

.logo-img {
    width: 130px;
    height: auto;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px;
}

.navbar-nav .nav-link {
    color: #2F374F;
}

.navbar-nav .nav-link:hover {
    color: #243f8b;
}

.navbar-custom {
    padding-right: 20px;
    font-weight: 700;
}

.nav-item-job a {
    color: #2F374F;
}

@media (max-width: 991px) {
    
    .navbar-custom {
        padding-left: 18px;
    }

    .nav-link-last {
        margin-left: 61px !important; 
    }

    .nav-link {
        margin-left: 33px;
    }

    .nav-link-first {
        margin-left: 34px;
    }

    .nav-link-second {
        margin-right: 15px;
    }
    
}

.dropdown-menu {
    background-color: #fff;
    padding: 20px;
    border-top: 10px;
    border-top: 7px solid #E3C16D;
}

.dropdown-item {
    color: #2F374F;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-item:hover {
    background-color: #fff;
    color: #243f8b;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

@media (max-width: 974px) {

    .dropdown:hover>.dropdown-menu {
        display: none;
      }
    
    .dropdown>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        pointer-events: all;
    }
    
    .dropdown-menu {
        text-align: center;
    }

}



/* Photo Gallery Introduction */

.gallery-custom-section {
    margin-top: 50px;
    background-color: #2F374F;
    margin-bottom: 100px;
}

.first-gallery-custom {
    padding-top: 30px;
}

.gallery-introduction h2 {
    font-size: 55px;
    font-weight: 800;
    color: #E3C16D;
}

.gallery-introduction p {
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: white;
    padding-top: 10px;
}

.gallery-introduction-img img {
    max-height: 400px;
}

.gallery-links div {
    margin-right: 40px;
    margin-top: 20px;
}

.gallery-links a {
    text-decoration: none;
    padding: 10px;  
}

.gallery-links a:hover{
    background-color: gray;
}

.gallery-links-1 {
    background-color: #E3C16D;
    width: 250px;
    padding: 35px 20px 15px 0px;
    border: 1px solid #2F374F;
    border-radius: 15px;
}

.gallery-links-1 a {
    font-size: 21px;
    font-weight: 700;
    color: #2F374F;
    padding-left: 20px;
}

.gallery-links-2 {
    background-color: #E3C16D;
    width: 250px;
    padding: 35px 20px 15px 0px;
    border: 1px solid #E3C16D;
    border-radius: 15px;
}

.gallery-links-2 a{
    font-size: 21px;
    font-weight: 700;
    color: #2F374F;
    padding-left: 20px;
}


/* Photo Gallery */

.photo-custom-section {
    margin-bottom: 200px;
}

.photo-gallery-header {
    border-bottom: 2px solid #E3C16D;
    margin-bottom: 90px;
    border-radius: 15px;
    padding-bottom: 5px;
}

.photo-gallery-header h2 {
    font-size: 45px;
    font-weight: 800;
    color: #2F374F;
}

.modal.fade .modal-dialog {
    transform: scale(0.8);
    transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog {
    transform: scale(1);
}

.img-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-gallery img {
    max-width: 200px;
    height: auto;
}

.img-gallery:hover{
    pointer-events: auto;
}

.first-row {
    padding-bottom: 80px;
}




/* Contact Section */

.contact-custom-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2F374F;
    padding-top: 50px;
}

.contact-container {
    color: white;
}

.contact-container h2 {
    color:#E3C16D;
    font-weight: 900;
    font-size: 35px;
}

.contact-container p {
    font-weight: 600;
    font-size: 17px;
    padding: 15px;
}

.contact-container a {
    text-decoration: none;
}

.contact-custom-socials {
    position: relative;
    right: 0;
    bottom: 0;
    padding-right: 25px;
    padding-bottom: 20px;
}

.contact-container-h2 {
    padding-top: 15px;
}

.contact-custom-socials ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-custom-socials ul li {
    margin-left: 10px;
}

.contact-custom-socials ul li a {
    text-decoration: none;
    color: inherit;
}