.body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

/* NavBar */

.navbar-brand {
    padding-left: 20px;
}

.nav-link {
    font-weight: 600;
    font-size: 20px;
    color: #2F374F; 
    margin-right: 20px;
}

.nav-link-last {
    margin-right: 45px;
}

.logo-img {
    width: 130px;
    height: auto;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px;
}

.navbar-nav .nav-link {
    color: #2F374F;
}

.navbar-nav .nav-link:hover {
    color: #243f8b;
}

.navbar-custom {
    padding-right: 20px;
    font-weight: 700;
}

.nav-item-job a {
    color: #2F374F;
}

@media (max-width: 991px) {
    
    .navbar-custom {
        padding-left: 18px;
    }

    .nav-link-last {
        margin-left: 61px !important; 
    }

    .nav-link {
        margin-left: 33px;
    }

    .nav-link-first {
        margin-left: 34px;
    }

    .nav-link-second {
        margin-right: 15px;
    }
    
}

.dropdown-menu {
    background-color: #fff;
    padding: 20px;
    border-top: 10px;
    border-top: 7px solid #E3C16D;
}

.dropdown-item {
    color: #2F374F;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-item:hover {
    background-color: #fff;
    color: #243f8b;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

@media (max-width: 974px) {
   
    .dropdown>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
    
    .dropdown-menu {
        text-align: center;
    }

}


/* SubSection */


.subsection-custom {
    padding-top: 500px;
    position: relative;
    width: 100%;
    height: 850px;
    background-image: url('/images/dario-valenzuela-PAGBeJrLiDA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.subsection-custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(60%);
    z-index: 1;
}

.central-custom-text {
    padding: 20px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    z-index: 2;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.central-custom-text h2 {
    color: #E3C16D;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin: 0 0 5px 0;
}

.central-custom-text button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: 600;
    padding: 16px 22px 19px 22px;
    border-radius: 30px;
    font-weight: 700;
}

.button2 {
    color: white;
    background-color: #E3C16D;
    border: 0px;
}

.button2:hover {
    color: #E3C16D;
    background-color: white;
    border: 0px;
}


@media (max-width: 768px) {
    .central-custom-text {
        font-size: 18px;
        align-items: center;
    }

    .central-custom-text h2 {
        font-size: 35;
    }

    .central-custom-text button {
        font-size: 20;
        padding: 8px 15px 11px 15px;
    }
}

/*//////////////////*/
/* First Section ///*/
/*//////////////////*/

.first-custom-section {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 200px;
}

.first-custom-farao {
    justify-content: left;
}

.first-custom-section-ul {
    list-style-type: none;
    font-size: 30px;
}

.first-custom-section-right p {
    font-size: 21px;
    font-weight: 500;
}

.first-custom-section-right h2 {
    font-size: 35px;
    font-weight: 900;
    color: #2F374F;
}

.first-custom-section-ul li {
    position: relative;
    padding-left: 25px;
    font-size: 30px;
    font-weight: 600;
}

.first-custom-section-ul li:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    left: -15px;
    top: 0px;
}

.first-section-link {
    text-decoration: none;
    position: relative;
    top: 0px;
}

.first-section-link a {
    text-decoration: none;
    color: #2F374F;
    font-weight: 700;
    font-size: 30px;
}

.first-section-link a:hover {
    text-decoration: none;
    color: #243f8b;
}

@media (max-width:974px) {
    
    .first-custom-section-right {
        padding-bottom: 60px;
    }
}

/*.second-custom-section {
    padding-top: 25px;
}

.second-custom-section-img {
    width: 400px;
    height: auto;
    border-radius: 15px;
}*/

.second-custom-section {
    background-color: #2F374F;
    padding-top: 70px;
    padding-bottom: 175px;

}

.service-list-header-custom {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.service-list-header-custom h2 {
    font-weight: 900;
    font-size: 35px;
}

.service-list-header-custom p {
    font-weight: 600;
    font-size: 17px;
}

.custom-header-span {
    color: #E3C16D;
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-services-span {
    color: #E3C16D;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
}

.custom-services p {
    flex: 1;
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.custom-services i {
    padding: 20px;
}

.fa-icon {
    color: white;
}

@media (max-width:768px) {
    .custom-services-last {
        margin-bottom: 20px;
    }
}

/* Contact-Candidate Section */

.contact-candidacy-custom-section {
    padding-top: 120px;
    padding-bottom: 150px;
}

.contact-candidacy-image-custom {
    text-align: start;
}

.contact-candidacy-image-custom img {
    max-width: 70%;
    height: auto;
}

.contact-candidacy-choice-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
}

.contact-candidacy-choice-custom h2 {
    color: #2F374F;     
    font-weight: 900;
    font-size: 35px;
    padding-bottom: 5px;
}

.contact-candidacy-choice-custom p {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
}

.contact-candidacy-inner-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-candidacy-inner-custom p {
    font-size: 17px;
}

.contact-candidacy-inner-custom i {
    padding-bottom: 30px;
    padding-top: 30px;
}

.contact-candidacy-inner-custom button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px 11px 13px 11px;
    border-color:#2F374F;
    border-style: solid;
    color: white;
    background-color: #2F374F;
    font-weight: 600;
    font-size: 20px;
}

.contact-candidacy-inner-custom button:hover {
    color: #2F374F;
    background-color: white;
    border-style: solid;
    border-color: black;
}

@media (max-width:768px) {
    .contact-candidacy-choice-custom {
        margin-top: 70px;
    }
    .contact-candidacy-image-custom {
        text-align: center;
    }
    .contact-candidacy-image-custom img {
        width: 350px;
    }
    .contact-candidacy-inner-custom button {
        margin-bottom: 15px;
    }
}



/* Contact Section */

.contact-custom-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2F374F;
    padding-top: 50px;
}

.contact-container {
    color: white;
}

.contact-container h2 {
    color:#E3C16D;
    font-weight: 900;
    font-size: 35px;
}

.contact-container p {
    font-weight: 600;
    font-size: 17px;
    padding: 15px;
}

.contact-container a {
    text-decoration: none;
}

.contact-custom-socials {
    position: relative;
    right: 0;
    bottom: 0;
    padding-right: 25px;
    padding-bottom: 20px;
}

.contact-container-h2 {
    padding-top: 15px;
}

.contact-custom-socials ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-custom-socials ul li {
    margin-left: 10px;
}

.contact-custom-socials ul li a {
    text-decoration: none;
    color: inherit;
}