.body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

/* NavBar */

.navbar-brand {
    padding-left: 20px;
}

.nav-link {
    font-weight: 600;
    font-size: 20px;
    color: #2F374F; 
    margin-right: 20px;
}

.nav-link-last {
    margin-right: 45px;
}

.logo-img {
    width: 130px;
    height: auto;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px;
}

.navbar-nav .nav-link {
    color: #2F374F;
}

.navbar-nav .nav-link:hover {
    color: #243f8b;
}

.navbar-custom {
    padding-right: 20px;
    font-weight: 700;
}

.nav-item-job a {
    color: #2F374F;
}

@media (max-width: 991px) {
    
    .navbar-custom {
        padding-left: 18px;
    }

    .nav-link-last {
        margin-left: 61px !important; 
    }

    .nav-link {
        margin-left: 33px;
    }

    .nav-link-first {
        margin-left: 34px;
    }

    .nav-link-second {
        margin-right: 15px;
    }
    
}

.dropdown-menu {
    background-color: #fff;
    padding: 20px;
    border-top: 10px;
    border-top: 7px solid #E3C16D;
}

.dropdown-item {
    color: #2F374F;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-item:hover {
    background-color: #fff;
    color: #243f8b;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

@media (max-width: 974px) {
   
    .dropdown>.dropdown-menu {
        display: block;
    }

    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
    
    .dropdown-menu {
        text-align: center;
    }

}


/* Forms Header Section */

.forms-header-section-custom {
    padding-top: 50px;
    background-color: #2F374F;
    max-width: 100%;
    height: 400px;
}

.form-header {
    padding-top: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header p{
    color: #E3C16D;
    font-size: 55px;
    font-weight: 900;
}


.forms-introduction {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.forms-introduction h2 {
    color: #E3C16D;
    font-size: 55px;
    font-weight: 900;
    padding-bottom: 30px;
    text-align: center;
}

.forms-introduction p {
    font-size: 25px;
    font-weight: 600;
}

/* Forms Section */

.forms-section-custom {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: white;
}

.form-window {
    text-align: center;
}

.form-header label {
    padding-right: 30px;
}

.form-main input, select{
    padding: 10px;
    border-radius: 7px;
    border-style: solid;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    gap: 5px;
}

.form-fields label {
    color: #2F374F;
    font-size: 20px;
    font-weight: 600;
}

.form-for-me {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 25px;
}

.forms-for-elder {
    display: none;
    flex-direction: column;
    gap: 25px;
}

.forms-message textarea {
    height: 150px;
}

.forms-message>textarea:focus {
    outline: none;
    border: 2px solid #2F374F;
}

.form-button {
    margin-top: 10px;
}

.form-button>button {
    width: 30%;
    padding: 15px;
    border: 1px solid #E3C16D;
    border-radius: 15px;
    background-color: #E3C16D;
    color: #2F374F;
    font-size: 25px;
    font-weight: 700;
}

.form-button>button:hover {
    background-color: #d2b364;
}

input:focus {
    outline: none;
    border: 2px solid #2F374F;
  }

select {
    background-color: #2F374F;
    color: #ffffff;
    font-weight: 600;
}

select>option {
    color: #ffffff;
}

.date-custom {
    position: relative;
    left: -.9%;
}

.hour-custom {
    position: relative;
    left: .9%;
}

/* Google GPS Map */

.ratio {
    --bs-aspect-ratio: 23%;
}

/* Contact Section */

.contact-custom-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2F374F;
    padding-top: 50px;
}

.contact-container {
    color: white;
}

.contact-container h2 {
    color:#E3C16D;
    font-weight: 900;
    font-size: 35px;
}

.contact-container p {
    font-weight: 600;
    font-size: 17px;
    padding: 15px;
}

.contact-container a {
    text-decoration: none;
}

.contact-custom-socials {
    position: relative;
    right: 0;
    bottom: 0;
    padding-right: 25px;
    padding-bottom: 20px;
}

.contact-container-h2 {
    padding-top: 15px;
}

.contact-custom-socials ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-custom-socials ul li {
    margin-left: 10px;
}

.contact-custom-socials ul li a {
    text-decoration: none;
    color: inherit;
}
